/* App.css */
.App {
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

main {
  margin-top: 50px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

textarea {
  width: 600px;
  min-height: 10px;
  overflow-y: visible;
  resize: none;

}

.text-output-container {
  width: 600px;
  overflow-y: visible;
  resize: none;
  font-family: inherit;
  font-size: 1rem;
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 4px;
  white-space: pre-wrap;
  color: black;

}

.submitButton {
  position: absolute;
  right: 10px;
  height: 400px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: black solid;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}

.loading,
.results {
  margin-top: 20px;
  font-weight: bold;
}